header {
  background-color: white;
  padding: 0;
  border-bottom: 1px solid #c3c3c3;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  text-decoration: none;
}

nav {
  ul {
    list-style-type: none;
    li a {
      text-decoration: none;
    }
  }
}
