.dish-cat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dish-container {
  width: inherit;
  height: inherit;
}

.dish-img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
  margin-left: 0.5rem;
  border-radius: 1rem;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
