.dish-cat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

// .dish-container {
//   width: inherit;
//   height: inherit;
// }

.dishCard {
  border: 1px solid #cecece;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  .favPill {
    font-size: xx-small;
    text-align: center;
    position: absolute;
    // left: 5rem;
    
  }
}

.dish-img {
  width: 14rem;
  height: 12rem;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
